<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user.username %>
  </p>

  <p>
    <strong>Train:</strong>
    <%= ticket.train.train_number %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

</div>
